[project]
	description = Chef Authconfig Cookbook
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jesse Campbell (jcam)
[access "refs/for/refs/*"]
	read = group user/Jesse Campbell (jcam)
	push = group user/Jesse Campbell (jcam)
	label-Code-Review = -2..+2 group user/Jesse Campbell (jcam)
	label-Verified = -1..+1 group user/Jesse Campbell (jcam)
	rebase = group user/Jesse Campbell (jcam)
	removeReviewer = group user/Jesse Campbell (jcam)
	submit = group user/Jesse Campbell (jcam)
[access "refs/heads/*"]
	read = group user/Jesse Campbell (jcam)
	create = group user/Jesse Campbell (jcam)
	push = +force group user/Jesse Campbell (jcam)
	pushMerge = group user/Jesse Campbell (jcam)
[access "refs/tags/*"]
	push = +force group user/Jesse Campbell (jcam)
	pushTag = group user/Jesse Campbell (jcam)
	pushSignedTag = group user/Jesse Campbell (jcam)
